.login-page{
    display: flex;
    height: 100vh;
}

.login-wp-container{
    background-color: black;
    flex:0.5;
}

.login-form-container{
    flex:0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form{
    background-color: #ffffff;
    padding:2rem;
    border-radius: 20px;
}

.login-unit{
    display: flex;
    flex-direction: column;
    padding:10px;
}

.login-btn{
    width: 100%;;
}

.input-field{
    width:100%;
    border:solid 1px gray;
    border-radius: 20px;
    padding:0.1rem;
}

.input-field input{
    width:90%;
    border:none;
}