.login-page{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

.auth-heading{
    color:#fff;
    letter-spacing: 2px;
}

.cat{
    width:200px;
}

.slogan{
    color: orange;
}

.white{
    color:white;
}

.login-wp-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    flex:0.5;
}

.login-form-container{
    flex:0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form{
    background-color: #ffffff;
    padding:2rem;
    border-radius: 20px;
}

.login-unit{
    display: flex;
    flex-direction: column;
    padding:10px;
}

.login-btn{
    width: 100%;;
}

.input-field{
    box-sizing: border-box;
    width:100%;
    border:solid 1px gray;
    border-radius: 20px;
    padding:0.1rem 0.4rem;
}

.input-field input{
    width:90%;
    border:none;
}

.form-block-display a{
    text-decoration: none;
    color: orange;
}

@media (width < 768px){
    .login-page{
        flex-direction: column;
        height: fit-content;
        width: 100%;
    }

    .login-wp-container{
        width:100%;
    }

    
}