.bookmarks-page{
    display: flex;
    max-width: 1450px;
    margin:auto;
}

.bookmarks-section{
    flex:0.45;
    min-height: 100vh;
    height: max-content;
    background-color: #f3f3f3;
    border-left: solid 1px #f3f3f3;
    border-right: solid 1px #f3f3f3;
}

.no-bookmarks{
    text-align: center;
    height: 100vh;
    padding-top: 2rem;
}

@media (width < 768px){
    .bookmarks-section{
        width: 100vw;
    }

    .no-bookmarks{
        width: 100vw;
    }
}