 .edit-profile-modal{
    width: 500px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 0rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    z-index: 999999;
    position: absolute;
    top: 20px;  
    right: 0;
    left: 0;
    background-color: white;
 }

 .hidden{
    display:none;
 }

 .eb-buttons{
    padding:1rem;
 }

 .eb-edit-pic{

    margin:auto;
    border: solid 2px orange;
    border-radius: 20px;
    text-align: center;
    padding:0.3rem;
    cursor: pointer;
    margin-top: 10px;
 }



 .edit-profile-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }


 .ep-pp{
    border-radius: 50%;
    width:100px;
    height: 100px;
 }

 .ep-mood-toggle{
    width:300px;

 }

 .eb-inputs{
    width:100%;
    padding:0.5rem;
 }
 
 .eb-form-unit label{
    display: block;
 }

 .eb-form-unit input{
    width:100%;
    border: solid 1px gray;
    padding:0.2rem;
 }

 .eb-form-unit{
    width:100%;
 }

 .eb-submit-btn{
    margin: 10px auto;
 }