.sidebar{
    flex:0.275;
    height: 100vh;

}

.site-title{
    background-color: white;
    padding: 0 0.5rem;
    border-radius: 20px;
    margin: 2rem;
    font-size: 30px;
    letter-spacing: 1px;
}

.site-title span{
  color: orange;
  font-size: 50px;
}


.sidebar-menu{
    padding:0.5rem;
    border-radius: 20px;
    margin: 2rem;
   background-color: #fff;
    color:black;
    text-align: center;
    border: solid 1px #ededed;
    display: flex;
    flex-direction: column;
    gap:5px;
}


.sidebar-menu a{
    text-decoration: none;
    color:var(--black);
    padding: 1rem;
}




.side-nav {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .side-nav:hover {
    background-color: #e8f5fe;
    /* background-color:rgb(255, 226, 226); */
    background-color:rgb(255, 238, 219);


    border-radius: 30px;
    color: var(--black);
    transition: color 100ms ease-out;
  }
  
  .side-nav > i {
    padding: 0 20px;
  }
  
  .side-nav > .nav-title {
    font-weight: 500;
    font-size: 20px;
    margin-right: 20px;
  }
  
  .side-nav--active {
    color: var(--twitter-color);
  }

  .create-post-icon{
    text-align: center;
  }

  .create-post-icon:hover{
    transform: scale(1.3);
    color: orange;
  }

  @media (width < 768px){
    .sidebar{
      display: none;
    }

    
  }

  @media (1024px > width > 768px){
   
    .nav-title{
      display: none;
    }
  }