.create-post{
    width: 500px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 60px 30px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    z-index: 999999;
    position: absolute;
    top: 100px;  
    right: 0;
    left: 0;
    background-color: white;
}

.cp-close-icon{
    cursor: pointer;
    position: absolute;
    top:20px;
    right:20px;
}

.create-post textarea{
    width:400px;
}

.cp-links{
    display: flex;
    justify-content: space-between;
}