.App {
  text-align: center;
  background-color: #F5F8FA ;
}

.fake-nav{
  display: flex;
  justify-content: space-around;
  background-color: #ededed;
  padding: 5px;
}

.fake-nav a{
  text-decoration: none;
  color:black;  
}
